
/*
    19th December 2025
    This is fibstyle.css
*/

html {
    font-size: 20px;
    background-color: lightgray;
}

h1, h2, h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}

nav {
    margin-top: 3%;
}

label, legend {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#frmCalc {
    padding: 2%;
    margin: 2%;
    border-style: solid;
}

fieldset {
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#frmCalc {
    border-width: 1px;
    border-radius: 5px;
    margin-top: 5%;
}

#results {
    margin-left: 5%;
    padding: 5%;
    width: 80%;
}

#results h2 {
    text-align: center;
}

#resultList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.hideForm {
    display: none;
}

.showResults {
    display: block;
    animation-name: resultsFadeIn;
    animation-duration: 2s;
}

input {
    background-color:beige;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

#btnCalculate {
    background-color: royalblue;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    box-shadow: 2px 2px gray;
    color: white;
}

#btnCalculate:hover {
    background-color: skyblue;
    border-color: black;
    color: black;
}

.fibNum {
    font-size: 2em;
    animation-name: numFadeIn;
    animation-duration: 5s;
}

.showErrorSequence {
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

.showErrorTimer {
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

.errorCloseButton {
    float: right;
    background-color: royalblue;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    box-shadow: 2px 2px gray;
    color: white;
}

.errorCloseButton:hover {
    background-color: skyblue;
    border-color: black;
    color: black;
}

.hideErrorSequence {
    display: none;
}

.hideErrorTimer {
    display: none;
}

@keyFrames resultsFadeIn {
    
    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }  

}

@keyframes numFadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

}

footer {
    color: white;
    background-color:black;
    text-align: center;
    font-size: 0.8em;
    padding: 5%;
    margin-top: 20%;
}