
/*
    19th December 2025
    This is fibstyle.css
*/

html {
    font-size: 20px;
    background-color: lightgray;
}

h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif
}

h1, #results h2 {
    text-align: center;
}

nav {
    margin-top: 3%;
}

label, legend {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#frmCalc {
    padding: 2%;
    margin: 2%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-top: 5%;
}

fieldset {
    padding: 2%;
    margin: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#results {
    margin-left: 5%;
    padding: 5%;
    width: 80%;
}

#results h2 {
    text-align: center;
}

#resultList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
}

.showResults, .fibNum {
    display: block;
    animation-name: generalFadeIn;
    animation-duration: 2s;
}

input {
    background-color:beige;
    border-width: 1px;
    padding: 5px;
    text-align: center;
}

.confirmButton {
    background-color: royalblue;
    padding: 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    box-shadow: 2px 2px gray;
    color: white;
}

.confirmButton:hover {
    background-color: skyblue;
    border-color: black;
    color: black;
}

.fibNum {
    font-size: 2em;
}

.errorPanel {
    display: block;
    position: absolute;
    top: 15%;
    left: 5%;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

.hideErrorPanel {
    display: none;
}

@keyframes generalFadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 100;
    }

}

footer {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:black;
    text-align: center;
    font-size: 0.8em;
    padding: 5%;
    margin-top: 20%;
}